/* Ajustar el menú desplegable */
.dropdown-menu {
    display: grid;
    grid-template-columns: repeat(3, auto); /* Cambia el número de columnas según tus necesidades */
    column-gap: 20px; /* Espacio horizontal entre las columnas */
    row-gap: 15px; /* Espacio vertical entre las filas */
    padding: 10px;
    min-width: 400px; /* Ajustar el ancho del menú */
    background-color: #1b1b1b; /* Fondo oscuro */
}

/* Asegurar que los botones no se superpongan */
.dropdown-item {
    padding: 50px;
    white-space: nowrap; /* Evitar que el texto se corte en varias líneas */
}


.dashboard-container {
    padding: 20px;
}

.dashboard-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.genres-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.genre-button {
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.genre-button:hover {
    background-color: #ddd;
}
